<!-- Imported scripts on this page -->
<!-- 	<script src="__STATIC__/js/jquery-validate/jquery.validate.min.js"></script>
        <link rel="stylesheet" href="__STATIC__/css/xenon-forms.css"> -->




<form class="validate edit_from" novalidate="novalidate">

    <div class="row">	
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-2" class="control-label">产品编号</label>
                <input type="text" class="form-control" name="sn" placeholder="产品编号" value="{$info.sn}">
                <input type="hidden" name="id" value="{$info.id}">
            </div>	
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="field-2" class="control-label">产品名称</label>
                <input type="text" class="form-control" name="name" placeholder="产品名称" value="{$info.name}">
            </div>	
        </div>
    </div>

    <div class="row">
          <div class="col-md-4">
            <div class="form-group">
                <label for="field-2" class="control-label">产品规格</label>

                <input type="text" class="form-control" name="spec" placeholder="产品规格" value="{$info.spec}">
            </div>	
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">产品单位</label>
                <select class="form-control" name="unit">
                    {volist name='unit' id='vo'}
                    <option value="{$vo.name}" {eq name="$info.unit" value="$vo.name"} selected="selected" {/eq} >{$vo.name}</option>
                    {/volist}
                </select>  
            </div>	
        </div> 
        <div class="col-md-4">
            <div class="form-group">
                <label for="field-2" class="control-label">产品价格</label>

                <input type="text" class="form-control" name="price" placeholder="产品价格" value="{$info.price}">
            </div>	
        </div>

    </div>
    <div class="row">
          <div class="col-md-4">
            <div class="form-group">
                <label for="field-2" class="control-label">生产日期</label>

                <input type="text" class="form-control" name="sctime" placeholder="生产日期" value="{$info.sctime}">
            </div>	
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="field-2" class="control-label">保质日期</label>

                <input type="text" class="form-control" name="keeptime" placeholder="保质日期" value="{$info.keeptime}">
            </div>	
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="field-2" class="control-label">仓库及货架</label>

                <input type="text" class="form-control" name="storage" placeholder="仓库及货架" value="{$info.storage}">
            </div>	
        </div>
    </div>







    <div class="row">
        <div class="col-md-12">
            <div class="form-group no-margin">
                <label for="field-7" class="control-label">备注</label>

                <textarea class="form-control autogrow" name="desc" placeholder="备注" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;">{$info.desc}</textarea>
            </div>	
        </div>
    </div>

</form>